{%- if card_product and card_product != empty -%}
  <div class="card__wrapper">
    {%- if card_product.featured_media -%}
      <picture>
       {
        "type": "image_picker",
        "id": "id",
        "label": "label"
       },
      </picture>
    {%- endif -%}
  </div>
{%- endif -%}