{%- if card_product and card_product != empty -%}
  <div class="card__wrapper">
    {%- assign hover_class = 'test' -%}
    {%- if card_product.featured_media -%}
      {{ card_product.featured_media | image_url: width: 450 | image_tag: loading: 'lazy', class: hover_class }}
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
    <h3 class="card__title">{{ card_product.title }}</h3>
  </div>
{%- endif -%}