{%- if card_product and card_product != empty -%}
  <div class="card__wrapper">
    {%- if card_product.featured_media -%}
    {{ card_product.featured_media | image_url: width: 450 }}
    {%- endif -%}
  </div>
{%- endif -%}